<!-- <ui-input-label [required]="required" [label]="label" [color]="labelColor"></ui-input-label> -->
<mat-form-field
    class="select"
    [ngClass]="max_width ? 'custom-width select' : 'full-width'"
    [appearance]="'outline'"
>
    <mat-label>{{ label }}</mat-label>
    <mat-select
        [placeholder]="'Choose an option'"
        class="custom-input-heigth"
        [ngClass]="getClass()"
        [formControl]="control"
        (selectionChange)="onChange($event)"
        [required]="required"
        [disabled]="disabled"
        [multiple]="multiple"
    >
        <span *ngFor="let options of valueOptions">
            <mat-option [value]="options.value">{{ options.label }}</mat-option>
        </span>
    </mat-select>
</mat-form-field>
