.container {
  padding: 15px;

  .table {
    .card-title {
      .fields {
        display: flex;
        align-items: center;
        gap: 15px;

        @media (max-width: 600px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .search-button {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        @media (max-width: 600px) {
          width: 100%;
        }
      }
    }
  }

  .spinner {
    display: flex;
    justify-content: center;
  }
}
