.card-content {
  .data {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}

.container {
  padding: 25px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
