@if (!isLoading) {
<div class="container"><ui-card>
    <div slot="card_title">
      <h2>Librarian Dashboard</h2>
    </div>
    <div slot="card_content" class="card-content">
      <div class="data">
        <h3>Books Borrowed</h3>
        @for (book of analytics.booksBorrowedByUser; track $index) {
        <p>Expiration Date: {{book.expirationDate}}</p>
        <p>Book: {{book.book.title}}</p>
        }

        @if(analytics.booksBorrowedByUser.length <= 0) { <p>No books Borrowed</p>
          }
      </div>
      <div class="data">
        <h3>Books Overdue</h3>
        @for (book of analytics.overDueBooksByUser; track $index) {
        <p>Expiration Date: {{book.expirationDate}}</p>
        <p>Book: {{book.book.title}}</p>
        }

        @if(analytics.booksBorrowedByUser.length <= 0) { <p>No books overdues</p>
          }
      </div>
    </div>
  </ui-card>
</div>
} @else {
<div class="spinner">
  <ui-spinner></ui-spinner>
</div>
}
