.base-table {
  overflow-x: auto;
  max-width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .base-table {
    overflow-x: auto;
  }

  th,
  td {
    padding: 4px;
    font-size: 14px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

ui-button {
  width: 100%;
}
