@import "../../../../../../apps/funcionarios/src/assets/styles/palette";

mat-toolbar {
  background-color: $primary-palette-A400;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

img {
  width: 150px;
}
