.module-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #004a8f;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
  font-weight: 700;
  border-bottom: 1px solid #004a8f;
  padding-bottom: 10px;
  text-align: center;
}

mat-list {
  mat-list-item {
    background-color: #004a8f;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
      padding: 10px;
    }
  }
}

.container {
  padding: 25px;
}
